<template>
    <div id="menu">
        <div class="items-menu" :class="item.active ? 'active' : 'desactivo'" v-for="(item, index) in menu" :key="index">
            <div class="item-menu"></div>
            <button class="item-menus" @click="changeMenu(index)">
                <i class="material-icons">{{item.icon}}</i>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Dmenu',
    data: ()=>({
        select: false,
        menu: [
            {icon: 'home', active: true},
            {icon: 'search', active: false},
            {icon: 'settings', active: false},
        ]
    }),
    methods:{
        changeMenu(e){
            for (let i = 0; i < this.menu.length; i++) {
                this.menu[i].active = false;
                if (i == e){
                this.menu[i].active = true;
                }
            }
        }
    }
}
</script>

<style scoped>
    *:focus{
        outline: none;
    }
    #menu{
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 60px;
        background: rgba(214,0,230,1);
        background: linear-gradient(135deg, rgba(214,0,230,1) 0%, rgba(36,50,255,1) 100%);
        display: flex;
        overflow: hidden;
    }
    .items-menu{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: ab 1s ;
    }
    .desactivo .item-menu{
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        color: white;
        animation: anima4 1s;
    }
    .items-menu.desactivo .item-menus{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        z-index: 99;
        color: white;
        animation: anima3 1s;
    }

    /*Actives */
    .active .item-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        background: white;
        transform: rotateZ(360deg) scaleZ(100) translateY(-40%) scale(1.3);
        border-radius: 50px;
        animation: anima 1s none;
        font-size: 20px;
    }
    .active .item-menu::after{
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        width: 75px;
        height: 75px;
        background: white;
        transform: rotateZ(360deg) scaleZ(100) translateY(-40%) scale(1.3);
        border-radius: 50px;
        animation: anima 1s none;
        font-size: 20px;
    }
    
    .items-menu.active .item-menus{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        z-index: 99;
        transform: rotateZ(360deg) scaleZ(100) translateY(-50%) scale(1.2);
        border: 2px solid black;
        border-radius: 50%;
        background: white;
        color: black;
        padding: 10px;
        animation: anima2 1s;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    @keyframes anima {
        0%{
            background: white;
            width: 0px;
            height: 0px;
        }
        50%{
            transform: rotateZ(0deg) scaleZ(100) translateY(0%);
            width: 30px;
            height: 30px;
        }
        80%{
            transform: rotateZ(360deg) scaleZ(100);
            border-radius: 50px;
            width: 45px;
            height: 45px;
        }
        90%{
            transform: translateY(-25%);
            
            width: 95px;
            height: 95px;
        }
        100%{
            transform: translateY(-40%);
            
            width: 75px;
            height: 75px;
        }
    }
    @keyframes anima2 {
        0%{
            transform: rotateZ(0) scaleZ(100) translateY(0%) scale(1);
            border: none;
            background: none;
            box-shadow: none;
            color: white;
        }
        50%{
            color: black;
            border: none;
            background: none;
            box-shadow: none;
            transform: rotateZ(360deg);
        }
        90%{
            transform: scale(1);
             background: white;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        }
        100%{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            transform: rotateZ(360deg) scaleZ(100) translateY(-50%) scale(1.2);
            border: 2px solid black;
        }
    }
    @keyframes anima3 {
        0%{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            transform: rotateZ(360deg) scaleZ(100) translateY(-50%) scale(1.2);
            border: 2px solid black;
            border-radius: 50%;
            background: white;
            color: black;
            padding: 10px;
        }
        10%{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            transform: rotateZ(360deg) scaleZ(100) translateY(-50%) scale(1.2);
            border: 2px solid black;
            border-radius: 50%;
            background: white;
            padding: 10px;
        }
        80%{
            box-shadow: none;
        }
        90%{
            color: white;
            border-radius: 50%;
        }
        100%{
            transform: rotateZ(360deg) scaleZ(100) translateY(0%) scale(1);
            border: none;
            border-radius: 0;
            background: none;
            padding: 0;
        }
    }
    @keyframes anima4 {
        0%{
            width: 75px;
            height: 75px;
            background: white;
            color: black;
            transform: scaleZ(100) translateY(-40%) scale(1.3);
            border-radius: 50px;
        }
        10%{
            width: 75px;
            height: 75px;
            background: white;
            color: black;
            transform: scaleZ(100) translateY(-40%) scale(1.3);
            border-radius: 50px;
        }
        90%{
            transform: scaleZ(100) translateY(-40%) scale(1.3);
        }
    }


</style>