<template>
    <v-content>
        <v-app-bar color="new-bg" dense dark app>
            <v-btn icon to="/">
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title>Menu App Mobile</v-toolbar-title>
        </v-app-bar>
        <v-container class="context-b">
            <v-row wrap>
                <v-col cols="12" v-for="index  in 12" :key="index">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laudantium voluptatem voluptatibus temporibus est soluta eligendi corrupti
                    quaerat, iste praesentium quibusdam laboriosam consequatur adipisci delectus
                    veritatis, inventore, laborum itaque? Veritatis, voluptas?
                </v-col>
            </v-row>
        </v-container>

        <a-menu></a-menu>

        
    </v-content>
</template>

<script>
import Dmenu from './../components/menuMovil/menu'
export default {
    components:{
        'a-menu': Dmenu
    },
    data:()=>({
    })
}
</script>
<style scoped>
    .context-b{
        padding-bottom: 75px !important;
    }
    .new-bg{
        
        background: linear-gradient(135deg, rgba(214,0,230,1) 0%, rgba(36,50,255,1) 100%);
    }
</style>
