<template>
    <div class="bg" :style="{background: color}">
        <div class="product-card">
            <div class="product-img" :style="{background: img}"></div>
            <div class="product-name">
                T-Shirt
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="product-colors">
                <span v-for="item in colors" 
                :class="item.active ? 'active' : ''"
                :style="{background: item.color}"
                @click="change(item.id)" 
                :key="item.id"
                ></span>
            </div>
            <div class="product-description">
                <div class="product-price" :style="{color: text}">$19.99</div>
                <div class="product-add">
                    <button :class="btn">
                        <i class="material-icons">add_shopping_cart</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data:()=>({
        colors: [
            {id: 0 , name: 'blue', color: '#319ad2', active: true, url: require('@/assets/img/1.png')},
            {id: 1 , name: 'red', color: '#d23146', active: false, url: '../assets/img/2.png'},
            {id: 3 , name: 'green', color: '#3fd699', active: false, url: '../assets/img/4.png'},
        ],
        color: 'blue',
        text: 'blue-c',
        btn: 'blue-b',
        img: 'blue-i'
    }),
    mounted(){
        this.color = this.colors[0].color
        this.text = this.colors[0].color
        this.img = this.colors[0].url
    },
    methods:{
        change(i){
            for (let e = 0; e < this.colors.length; e++) {
                if(this.colors[e].id == i) {
                    this.colors[e].active = true
                    this.color = this.colors[e].color
                    this.text = this.colors[e].color
                    this.btn = this.colors[e].name+'-b'
                    document.getElementById("img").style.backgroundImage = "url('"+this.colors[e].url+"')"
                } else {
                    this.colors[e].active = false
                }
            }
        }
    }
};
</script>

<style scoped>
.bg {
    width: 100vw;
    height: 100vh;
    transition: .5s;
}
.blue-i {
    background: url(../assets/img/1.png);
    transition: .5s;
}
.red-i {
    background: url(../assets/img/2.png);
    transition: .5s;
}
.yellow-i {
    background: url(../assets/img/3.png);
    transition: .5s;
}
.green-i {
    background: url(../assets/img/4.png);
    transition: .5s;
}
.blue-b {
    border: 2px solid #319ad2;
    color: #319ad2;
    transition: .5s;
}
.red-b {
    border: 2px solid #d23146;
    color: #d23146;
    transition: .5s;
}
.yellow-b {
    border: 2px solid #f6eb8f;
    color: #f6eb8f;
    transition: .5s;
}
.green-b {
    border: 2px solid #3fd699;
    color: #3fd699;
    transition: .5s;
}
.blue-b:hover {
    background-color: #319ad2;
    transition: .5s;
}
.red-b:hover {
    background-color: #d23146;
    transition: .5s;
}
.yellow-b:hover {
    background-color: #f6eb8f;
    transition: .5s;
}
.green-b:hover {
    background-color: #3fd699;
    transition: .5s;
}
/*CARD */
.product-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 60%;
    background: #eeef;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px 1px #444;
}
.product-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50%;
}
.product-description {
    width: 100%;
    display: flex; 
}
.product-price{
    width: 60%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}
.product-add{
    width: 40%;
    display: flex;
    align-items: right;
    justify-content: center;
}
.product-add button{
    width: 90%;
    padding: 3.5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.product-add button:hover{
    color: #fff;
}
.product-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
}
.product-name p {
    color: #c2c2c2;
    font-size: 10px;
}
.product-colors {
    display: flex;
    justify-content: center;
}
.product-colors span {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 20px 15px;
    border-radius: 50%;
    display: flex;
}
.product-colors span.active::after {
    content: '';
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: none;
    border: 2px solid #444;
}
</style>