<template>
  <v-content>
    <v-app-bar color="primary" dark>
      <v-btn icon to="/">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Chat</v-toolbar-title>
      <div class="flex-grow-1"></div>
      <v-btn icon @click="session = false, logout()" v-if="session">
        <v-icon>power_settings_new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-container v-if="session == false">
      <v-row>
        <v-col cols="12">
          <v-text-field
            autofocus
            label="Email"
            v-model="data.email"
            prepend-icon="mail"
            @keyup.enter="signIn"
          ></v-text-field>
          <v-text-field
            :type="show ? 'text' : 'password'"
            label="Password"
            v-model="data.password"
            prepend-icon="lock"
            :append-icon="show ? 'visibility' : 'visibility_off'"
            @click:append="show = !show"
            @keyup.enter="signIn"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-btn color="primary" @click="signIn">Sign In</v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container v-else>
      <v-row>
        <v-col cols="12">
          <v-layout class="align-center justify-start">
            <v-avatar>
              <v-img :src="user.foto"></v-img>
            </v-avatar>
            <span class="pl-3 font-weight-bold">{{user.nombre}}</span>
          </v-layout>
        </v-col>
        <v-col cols="12">
          <v-list subheader>
            <v-subheader>Your Contacs</v-subheader>

            <v-list-item v-for="item in users" :key="item.id" @click="dialog = true,activeChat(item)">
              <v-list-item-avatar>
                <v-img :src="item.foto"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="item.nombre"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar
      v-model="notification.visibility"
      multi-line
      bottom
      :timeout="6000"
      dark
      :color="notification.color"
    >
      {{ notification.message }}
      <v-btn color="white" icon @click="notification.visibility = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
    <!--Dialog for chat-->

    <v-dialog v-model="dialog" fullscreen hide-overlay transition="scroll-y-transition">
      <v-app-bar dark color="success" :app="dialog">
        <v-btn icon dark @click="dialog = false">
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title>{{user_chat.nombre}}</v-toolbar-title>
        <div class="flex-grow-1"></div>
        <v-toolbar-items>
          <v-btn dark text icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
      <v-content>
        <v-card class="full-h">
            <v-row class="pb-25 px-3 full-h" ref="chats">
              <v-col
                cols="8"
                :offset="item.id == user.id ? '4' : ''"
                v-for="(item,index) in chat"
                :key="index"
              >
                <v-card class="new-br" :color="item.id == user.id ? 'green accent-1' : ''">
                  {{item.message}}
                  <span class="small mx-1">{{item.date}}</span>
                </v-card>
              </v-col>
            </v-row>
          <v-card class="submit-message new-br">
            <v-textarea
              ref="message-text"
              :loading="sending"
              :disabled="sending"
              class="mx-2"
              placeholder="Message..."
              rows="1"
              append-icon="send"
              @click:append="send()"
              @keyup.enter="send()"
              v-model="message"
            ></v-textarea>
          </v-card>
        </v-card>
      </v-content>
    </v-dialog>
  </v-content>
</template>

<script>
import { auth, db } from "@/firebase";
import uuid4 from "uuid/v4";
export default {
  name: "chat",
  data: () => ({
    show: false,
    data: {
      email: "",
      password: ""
    },
    user: {},
    session: false,
    notification: {
      color: "error",
      visibility: false,
      message: ""
    },
    //Dialog
    dialog: false,
    //List
    users: [],
    //Chat
    user_chat: {},
    chat: [],
    message: "",
    sending: false,
    user_send: 0,
    cid: 0,
    stateChat: null
  }),
  async mounted() {
    if (localStorage.getItem("user")) {
      let id = localStorage.getItem("user");
      let doc = await db
        .collection("usuarios")
        .doc(id)
        .get();
      if (doc.exists == true) {
        this.user = doc.data();
        localStorage.setItem("user", id);
        this.session = true;
        this.getUsers();
      }
    }
  },
  methods: {
    consultChat() {
      this.chat = [];
      if (this.stateChat != null) {
        this.stateChat();
      }
      this.stateChat = db
        .collection("contact")
        .doc(this.cid)
        .collection("chat")
        .orderBy("date")
        .onSnapshot(
          snapshot => {
            snapshot.docChanges().forEach(change => {
              // added, modified, removed
              if (change.type == "added") {
                let message = change.doc.data();
                this.chat.push(message);
              }

              this.$nextTick(()=>{
                if (this.$refs.chats) {
                    this.$refs.chats.scrollTop = this.$refs.chats.scrollHeight;
                }
              })
            });
          },
          () => {
            this.snackBar("Error checking messages");
          }
        );
                    this.$refs.chats.scrollTop = this.$refs.chats.scrollHeight;
    },
    async send() {
      if (this.message.trim() != "" || !this.sending) {
        this.sending = true;
        let data = new Date();
        let date = "";
        let day = data.getDate().toString();
        day = day.length > 1 ? data.getDate() : "0" + data.getDate();

        let month = data.getMonth().toString();
        month = month.length > 1 ? data.getMonth() : "0" + data.getMonth();

        let year = data.getFullYear();
        let hours = data.getHours().toString();
        hours = hours.length > 1 ? data.getHours() : "0" + data.getHours();

        let minute = data.getMinutes().toString();
        minute =
          minute.length > 1 ? data.getMinutes() : "0" + data.getMinutes();
        date = day + "/" + month + "/" + year + " " + hours + ":" + minute;

        let mid = uuid4();
        let chat_message = {
          mid,
          id: this.user.id,
          message: this.message,
          date: date
        };

        try {
          await db
            .collection("contact")
            .doc(this.cid)
            .collection("chat")
            .doc(mid)
            .set(chat_message);

          this.message = "";
        } catch (error) {
          console.log(error);
          this.snackBar("The message could not be sent");
        } finally {
          this.sending = false;
        }
      }
    },
    generatedId(userA, userB) {
      return userA > userB ? `${userA}-${userB}` : `${userB}-${userA}`;
    },
    logout() {
      localStorage.setItem("user", 0);
    },
    async signIn() {
      if (this.data.email.trim() != "") {
        if (this.data.email.toLowerCase().indexOf("@")) {
          this.data.email += "@gmail.com";
        }
        if (this.data.password.trim() != "") {
          try {
            await auth.signInWithEmailAndPassword(
              this.data.email,
              this.data.password
            );
            if (auth.currentUser) {
              let id = auth.currentUser.uid;
              let doc = await db
                .collection("usuarios")
                .doc(id)
                .get();
              if (doc.exists == true) {
                this.user = doc.data();
                localStorage.setItem("user", id);
                this.session = true;
                this.snackBar("Welcome", "success");
                this.getUsers();
              } else {
                this.snackBar("Not exist your data");
              }
            }
          } catch (error) {
            this.snackBar("Your email/password don't match");
          }
        } else {
          this.snackBar("The password must not empty");
        }
      } else {
      }
    },
    async getUsers() {
      this.users = [];
      try {
        let data = await db.collection("usuarios").get();
        data.forEach(doc => {
          let _users = doc.data();
          this.users.push(_users);
        });
      } catch (error) {
        console.log(error);
      }
    },
    async activeChat(e) {
      this.chat = [];
      this.cid = this.generatedId(this.user.id, e.id);
      try {
        let doc = await db
          .collection("contact")
          .doc(this.cid)
          .get();

        if (!doc.exists) {
          await db
            .collection("contact")
            .doc(this.cid)
            .set({ id: this.cid });
        }
        this.user_chat = e;
        this.consultChat();
      } catch (error) {
        this.snackBar("Error in the process");
      }
    },
    snackBar(message, color = "error") {
      this.notification.message = message;
      this.notification.color = color;
      this.notification.visibility = true;
    }
  }
};
</script>

<style scoped>
.small {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.pb-25 {
  padding-bottom: 100px;
}
.new-br {
  border-radius: 15px !important;
  padding: 5px;
}
.submit-message {
  position: fixed;
  bottom: 0;
  width: 95vw;
  margin: 10px calc(5vw / 2);
  padding: 10px;
}
.full-h {
  min-height: 93vh;
  align-content: flex-end;
}
</style>