<template>
  <v-content>
    <v-app-bar color="deep-purple accent-4" dense dark>
      <v-toolbar-title>Practice</v-toolbar-title>
    </v-app-bar>
    <v-list dense>
      <v-subheader>Menu</v-subheader>
      <v-list-item-group color="primary">
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.url">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-content>
</template>

<script>

export default {
  data: () => ({
    items: [
      { text: "Example QR", icon: "apps", url: "/qr" },
      { text: "Example With Vuex", icon: "dashboard", url: "/withvuex" },
      { text: "Example Chat", icon: "message", url: '/chat' },
      { text: "Menu App Movil", icon: "dock", url: '/appMovil' },
      { text: "Snape Game", icon: "games", url: '/snape' },
    ]
  }),
};
</script>
