<template>
  <v-content>
    <v-app-bar color="deep-purple accent-4" dense dark>
      <v-btn icon to="/">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Qr</v-toolbar-title>
    </v-app-bar>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-card-title>Message</v-card-title>
            <v-card-text>
              <v-text-field
                color="primary"
                label="Message"
                name="message"
                v-model="data.messsage"
                prepend-icon="message"
                type="text"
              ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="primary" text @click="createQr()">Create</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col>
          <v-expand-x-transition>
            <v-card v-show="create" height="300" width="300" class="mx-auto">
              <v-row>
                <v-col cols="12">
                  <v-btn color="deep-orange lighten-2" text icon @click="create = false">
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="12">
                  <v-row align="center" justify="center">
                    <vue-qr :text="datos" :size="200"></vue-qr>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
          </v-expand-x-transition>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import VueQr from "vue-qr";
export default {
  components: {
    VueQr
  },
  data: () => ({
    data: {
      messsage: ""
    },
    create: false,
    datos: ""
  }),
  methods: {
    createQr() {
      this.datos = this.data.messsage;
      this.create = true;
    }
  }
};
</script>