<template>
    <v-content>
        <v-app-bar class="cyan darken-4" dark app>
            <v-btn icon to="/">
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title>Snape Game</v-toolbar-title>
        </v-app-bar>
        <!-- Game cover -->
        <div class="game-cover">
            <!-- Snape & Apple -->
            <div class="apple"></div>
            <div class="snape"></div>
            <div class="snape-body-1"></div>
            <div class="snape-body-2"></div>
            <div class="snape-body-3"></div>

            <!-- Score & Button Play -->
            <div class="score">
                <h3>
                    Score:
                </h3>
                <h5>
                    100
                </h5>
            </div>
            <button class="btn-play">
                Play
            </button>
        </div>
    </v-content>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
    .game-cover{
        font-family: 'Baloo Bhai', cursive;
        color: #EEE;
        position: fixed;
        top: 52%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90vw;
        height: 85vh;
        background: #21894E;
    }
    .apple{
        width: 40px;
        height: 40px;
        background: #C83636;
        position: absolute;
        top: 15%;
        left: 20%;
        transform: translate(-50%,-50%);
    }
    .snape{
        width: 70px;
        height: 70px;
        background: #3877C5;
        position: absolute;
        top: 15%;
        left: 45%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
    .snape::after{
        content: '';
        width: 20px;
        height: 20px;
        background: #242424;
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .snape::before{
        content: '';
        width: 20px;
        height: 20px;
        background: #242424;
        position: absolute;
        top: 60%;
        left: 50%;
    }
    .snape-body-1{
        width: 150px;
        height: 50px;
        background: #3877C5;
        position: absolute;
        top: 15%;
        left: 67%;
        transform: translate(-50%,-50%);
    }
    .snape-body-2{
        width: 50px;
        height: 450px;
        background: #3877C5;
        position: absolute;
        top: 44%;
        left: 90%;
        transform: translate(-50%,-50%);
    }
    .snape-body-3{
        width: 150px;
        height: 50px;
        background: #3877C5;
        position: absolute;
        top: 73%;
        left: 67%;
        transform: translate(-50%,-50%);
    }
    .score{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 40px;
        text-align: center
    }
    .score h3{
        font-size: 30px;
    }
    .score h5{
        font-size: 18px;
    }
    .btn-play{
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 40px;
        background: #C83636;
        border-radius: 10px;
        outline: none;
    }
    .btn-play::before{
        content: '';
        contain: '<div></div>';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 106%;
        height: 50px;
        border: 3px solid #C83636;
        background: none;
        border-radius: 10px;
        z-index: -1;
        animation: anima .5s infinite;
    }
    .btn-play:hover{
        background: #d64949;
    }
    .btn-play:hover.btn-play::before{
        border: none;
        transition: .5s;
    }


    @keyframes anima {
        0%{
            transform: scale(0);
        }
    }
</style>