<template>
  <v-content>
    <v-toolbar>
      <v-toolbar-title>Animation and Vuex</v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-btn @click="expand = !expand" block>
            {{ expand ? 'Hide'  : 'Show' }}
          </v-btn>
        </v-col>
        <v-col cols="12">
          <v-row align="center" justify="center">
            <transition name="move">
              <v-card height="450" width="300" v-show="expand">
                <v-container fluid>
                  <v-row align="center" justify="center">
                    <Child></Child>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      Normal Actions
                    </v-col>
                    <v-btn text color="primary" @click="increment">
                      <v-icon>add</v-icon>
                    </v-btn>
                    <v-btn text color="error" @click="decrement">
                      <v-icon>remove</v-icon>
                    </v-btn>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      Async Actions
                    </v-col>
                    <v-btn text color="primary" @click="incrementAsync">
                      <v-icon>add</v-icon>
                    </v-btn>
                    <v-btn text color="error" @click="decrementAsync">
                      <v-icon>remove</v-icon>
                    </v-btn>
                    <v-progress-circular
                      indeterminate
                      :color="color ? 'primary' : 'error'"
                      v-show="load"
                    ></v-progress-circular>
                  </v-row>
                </v-container>
              </v-card>
            </transition>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { mapState, mapActions,mapMutations } from "vuex"
import Child from "../components/Child";

export default {
  name: "vuexExample",
  data: () => ({
    expand: false
  }),
  components: {
    Child
  },
  computed:{
    ...mapState(['load','color'])
  },
  methods: {
    ...mapMutations(["increment", "decrement"]),
    ...mapActions(["incrementAsync", "decrementAsync"]),
  }
};
</script>
<style lang="scss" scoped>
$d1: 50%;
$d2: 0;
.move-enter-active,
.move-leave-active {
  transform: scale($d1, $d1);
  transition: all 0.3s linear;
}

.move-enter,
.move-leave-to {
  transform: scale($d2, $d2);
}
</style>