<template>
  <v-content>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="12">
          Number
        </v-col>
        <v-col cols="12">
          {{count}}
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="12">
          Number x 2
        </v-col>
        <v-col cols="12">
          {{getDouble}}
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: 'Child',
  computed: {
    ...mapState(["count"]),
    ...mapGetters(['getDouble'])
  }
};
</script>